h1{
	color:red;
	font-weight:bold;
	text-align:center;
	font-size:70px;
}

h3{
	color:blue;
	font-size:40px;
}

.article>p, .article1>p{
	background-color:grey;
}

.article2>p{
	background-color:pink;
}

strong{
	color:#aaeb5a;
	font-weight:normal;
}

em{
	color:orange;
	text-decoration:underline;
	font-style:normal;
	font-size:25px;
}

.article1>h3{
	color:green;
	text-align:right;
	text-decoration:underline;
}